.body-container {
  display: flex;
  flex-direction: row;
  margin-top: 80px;
  overflow: hidden;
}

/* Default content state */
.content {
  flex: 1;
  padding: 20px;
  margin-left: 220px;
  transition: margin-left 0.3s ease-in-out;
  height: calc(100vh - 80px);
  overflow: auto;
}

.body-container.sidebar-minimized .content {
  margin-left: 60px;
}

/* Sidebar */
.sidebar {
  width: 220px;
  transition: width 0.3s ease-in-out;
}

.body-container.sidebar-minimized .sidebar {
  width: 60px;
}

/* Header styles to align the title and button */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* General styling for all task-related buttons */
.task-button {
  padding: 10px 20px;
  background-color: #ff7f4d;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Hover effect for buttons */
.task-button:hover {
  background-color: #5e1b89;
  transform: scale(1.05);
}

/* Container for aligning buttons to the right */
.button-group {
  display: flex;
  gap: 10px;
}


#add-task-btn:hover {
  background-color: #5e1b89;
}
